body {
    background-color: #ffffff;
    font: "Sora", sans-serif;;
    
}
.navbar {
    background-color: #ffffff;
}
.navbar-brand img {
    height: 30px;
}
.nav-link {
    
    font-weight: 500;
}

.btn-hire {
    background-color: #6c63ff;
    color: #fff;
    border-radius: 20px;}